* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fcebe2;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #f5b1a6;
}

/*=================*/
/*      HEADER     */
/*=================*/
header {
  position: relative;
  padding: 0 2rem;
  background-color: #52786a;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/*===============*/
/* DROPDOWN MENU */
/*===============*/
.dropdown_menu {
  display: none;
  -webkit-display: none !important;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(82, 120, 106, 0.8);
  -webkit-background: rgba(82, 120, 106, 0.8);
  /*background: rgba(245, 177, 166, 0.8);*/
  /*-webkit-background: rgba(245, 177, 166, 0.8);*/
  /*backdrop-filter: blur(15px);*/
  /*-webkit-backdrop-filter: blur(15px);*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-bottom-left-radius: 10px;
  -webkit-bottom-right-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  /*height: 240px;*/
  height: auto;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu a {
  color: #fff;
  /*font-weight: bold;*/
}

.dropdown_menu a:hover {
  color: #f5b1a6;
}

.dropdown_menu .toggle_btn {
}

/*=====================*/
/*         HERO        */
/*=====================*/
section#hero {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #52786a;

  background-image: url(../img/home-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

#hero h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 250;
  margin-bottom: 1rem;
}

/*=============================*/
/* RESPONSIVE DESIGN NAVIGATION*/
/*=============================*/

@media (max-width: 576px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;

    left: 2rem;
    width: unset;
  }
}

/*===========================*/
/*           FOOTER          */
/*===========================*/

section#footer {
  text-align: center;
  height: 60px;
  max-width: 100%;
  color: #fff;
  background-color: #52786a;
  align-content: center;
  padding: 0 2rem;
  margin: 0 auto;
}

section#footer button {
  padding: 0;
  margin: 0;
  font-size: 10.72px;
}

button:hover {
  color: #f5b1a6;
}

section#footer a {
  text-decoration: none;
  color: #fff;
}

section#footer a:hover {
  color: #f5b1a6;
}

/*===============================*/
/*    RESPONSIVE DESIGN HERO     */
/*===============================*/

@media (max-width: 992px) {
  #hero h1 {
    font-size: 4rem;
  }

  #hero h2 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  #hero h1 {
    font-size: 3rem;
  }

  #hero h2 {
    font-size: 1.75rem;
  }
}

/*===============================*/
/*       PHOTOS PAGE STYLE       */
/*===============================*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*    PHOTOS FOOTER    */

section.photos {
  position: absolute;
}

/*==================================*/
/*       WEDDING PARTY STYLING      */
/*==================================*/

section#partyContainer {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #52786a;
}
/*=====Option 2=======*/

/*
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*/
html {
  font-size: calc(5px + 0.4vw);
}

section#partyContainer a {
  text-decoration: none;
}
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
}
.left {
  float: left;
  height: 100%;
  width: 60%;
  padding: 3rem 3rem 3rem 5rem;
  display: table;
}
section.intro div.left > div {
  display: table-cell;
  vertical-align: middle;
}
section.intro span {
  color: #52786a;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 4rem;
}
section#partyContainer h1 {
  font-size: 8rem;
  margin-bottom: 3rem;
  color: #f5b1a6;
}
section.intro h1 + section.intro p {
  color: #949494;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
section.intro p {
  font-size: 1.6rem;
  color: #000;
}
div.slider {
  float: right;
  position: relative;
  width: 40%;
  height: 100%;
}
div.slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: clip 0.7s ease-in-out, z-index 0s 0.7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display: table;
}
.center-y {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
div.slider h3 {
  font-size: 5rem;
  font-style: italic;
}
div.slider h3 + div.slider h4 {
  font-size: 1.6rem;
  display: inline-block;
  color: #fff;
  margin-top: 2rem;
}
div.slider h3,
div.slider h3 + div.slider a {
  opacity: 0;
  transition: opacity 0.7s 0s, transform 0.5s 0.2s;
  transform: translate3d(0, 50%, 0);
}
div.slider li.current h3,
.slider li.current h3 + h4 {
  opacity: 1;
  transition-delay: 1s;
  transform: translate3d(0, 0, 0);
}
div.slider li.current {
  z-index: 1;
  clip: rect(0, 100vw, 100vh, 0);
}
div.slider li.prev {
  clip: rect(0, 0, 100vh, 0);
}
div.slider nav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
nav#sliderNav a {
  display: inline-block;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
  background: #fff;
  margin: 0 1rem;
  transition: transform 0.3s;
}
nav#sliderNav a.current_dot {
  transform: scale(1.4);
}
@media screen and (max-width: 700px) {
  .left {
    width: 100%;
    height: 30%;
  }
  .slider {
    width: 100%;
    height: 70%;
  }
}

/*======Option 1======*/

/*
i {
	position: relative;
	display: block;
	width: 600px;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
  
}

i:before, i:after {
  content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: #52786a;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
  content: '>';
	left: auto;
	right: 1rem;
}

input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}

*/

/*==================================*/
/*           PHOTOS PAGE            */
/*==================================*/
.swiper-container {
  width: 80%;
  height: 100vh;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
  &.nav-slider {
    width: 20%;
    padding-left: 5px;
    .swiper-slide {
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.3s ease;
      &.swiper-slide-active {
        opacity: 1;
      }
      .content {
        width: 100%;
        .title {
          font-size: 20px;
        }
      }
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &.loading {
    opacity: 0;
    visibility: hidden;
  }
}

.swiper-wrapper {
}

.swiper-slide {
  overflow: hidden;
  /*@extend %backface_visibility_hidden;*/
  .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .entity-img {
    display: none;
  }

  .contant {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.7s ease;
      &.show {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  /*@extend %transition_all_03s;*/
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
