* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fcebe2;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #f5b1a6;
}

/*=================*/
/*      HEADER     */
/*=================*/
header {
  position: relative;
  padding: 0 2rem;
  background-color: #52786a;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/*===============*/
/* DROPDOWN MENU */
/*===============*/
.dropdown_menu {
  display: none;
  -webkit-display: none !important;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(82, 120, 106, 0.8);
  -webkit-background: rgba(82, 120, 106, 0.8);
  /*background: rgba(245, 177, 166, 0.8);*/
  /*-webkit-background: rgba(245, 177, 166, 0.8);*/
  /*backdrop-filter: blur(15px);*/
  /*-webkit-backdrop-filter: blur(15px);*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-bottom-left-radius: 10px;
  -webkit-bottom-right-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  /*height: 240px;*/
  height: auto;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown_menu a {
  color: #fff;
  /*font-weight: bold;*/
}

.dropdown_menu a:hover {
  color: #f5b1a6;
}

.dropdown_menu .toggle_btn {
}

/*=====================*/
/*         HERO        */
/*=====================*/
section#hero {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #52786a;

  background-image: url(../img/home-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

#hero h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 250;
  margin-bottom: 1rem;
}

/*=============================*/
/* RESPONSIVE DESIGN NAVIGATION*/
/*=============================*/

@media (max-width: 576px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;

    left: 2rem;
    width: unset;
  }
}

/*===========================*/
/*           FOOTER          */
/*===========================*/

section#footer {
  text-align: center;
  height: 60px;
  max-width: 100%;
  color: #fff;
  background-color: #52786a;
  align-content: center;
  padding: 0 2rem;
  margin: 0 auto;
}

section#footer button {
  padding: 0;
  margin: 0;
  font-size: 10.72px;
}

button:hover {
  color: #f5b1a6;
}

section#footer a {
  text-decoration: none;
  color: #fff;
}

section#footer a:hover {
  color: #f5b1a6;
}

/*===============================*/
/*    RESPONSIVE DESIGN HERO     */
/*===============================*/

@media (max-width: 992px) {
  #hero h1 {
    font-size: 4rem;
  }

  #hero h2 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  #hero h1 {
    font-size: 3rem;
  }

  #hero h2 {
    font-size: 1.75rem;
  }
}

/*===============================*/
/*       PHOTOS PAGE STYLE       */
/*===============================*/

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: #52786a;
  font-size: 2rem;
}

button span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider-nav li {
  display: flex;
  flex: 2;
  text-align: center;
}

img {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

img.active {
  display: block;
  animation: fadeImg 0.8s;
}

nav.slider-nav .arrow {
  flex: 0 0 15%;
}

nav.slider-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

nav.slider-nav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*    PHOTOS FOOTER    */



/*==================================*/
/*       WEDDING PARTY STYLING      */
/*==================================*/


/*=====Option 2=======*/



/*======Option 1======*/

/*
i {
	position: relative;
	display: block;
	width: 600px;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
  
}

i:before, i:after {
  content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: #52786a;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
  content: '>';
	left: auto;
	right: 1rem;
}

input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}

*/

/*==================================*/
/*           PHOTOS PAGE            */
/*==================================*/

